header {
    background-color: #4CAF50;
    color: aqua;
    padding: 15px;
    text-align: center;
}
.nav-logo-container{
    display:flex;
    flex-direction:column;
    gap:3px;
    justify-content:center;
    align-items:center;
    grid-row: span 2;
}

.logo-img {
    width:100px;
    height:100px;
    border-radius:50%;
}

.logo-heading{
    color:white;
    font-weight:bold;
}

.nav-bar-contatiner{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 5px;
    grid-row: span 3;
}

.brands-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    flex-direction:column;
    padding: 5px;
    
}

.summery-container {
    
}

    .summery-container > div > h4, .brands-container > div > h4 {
        color: darkslateblue;
    }

.brands-div {
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
 }

.nav-search{
    outline:none;
    padding:5px;
    font-size:14px;
    border:none;
}

.svg:hover{
    fill:aqua;
}

.search-btn{
    cursor:pointer;
}

.index-nav{
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom:20px;
}

.nav-container{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.index-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding:10px;
    gap:20px;
    
}

.index-image-container {
    width: 100%;
    height: 300px;
    padding:20px;
}

.index-hero {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    background-image: url("https://bike-addict.co.za/cdn/shop/collections/road-bike-guide-hero-fix-1600x800-1688712_original_1_1400x.jpg?v=1623331298");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-image{
    height:200px;
    width:230px;
    border-radius:10px;
}

.category-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:300px;
    height:250px;
}

.msg-container {
    display: felx;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.middle-index{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:center;
}

.categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.product-container, .login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
    justify-content:flex-start;
}

.product-image-page{
    border-radius:20px;
    width:300px;
    height:250px;
}

.product-details{
    font-size:20px;
}

#buyer-form, #seller-form {
    width: 80%;
    padding: 20px;
}