@{
    ViewBag.Title = "AddBike";
}

<div class="buyer-control-container">
    @using (Html.BeginForm("AddNewProduct", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter product name" name="ProductName" required>
        </div>
        <div class="form-group">
            <label for="brandName">Brand Name</label>
            <select id="brandName" class="form-control" name="BrandName" required>
                @foreach (var brand in ViewBag.BrandNames)
                {
                    <option value="@brand">@brand</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <select id="categoryName" class="form-control" name="CategoryName" required>
                @foreach (var category in ViewBag.CategoryNames)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="model">Product Model Year</label>
            <input type="number" class="form-control" id="model" placeholder="Enter model year" name="ModelYear" required>
        </div>
        <div class="form-group">
            <label for="price">Product List Price (in USD)</label>
            <input type="number" class="form-control" id="price" placeholder="Enter list price" name="ListPrice" step="0.5" required>
        </div>
        <div class="form-group">
            <label for="quantity">Stock Quantity</label>
            <input type="number" class="form-control" id="quantity" placeholder="Enter stock quantity" name="Quantity" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
