
@{
    ViewBag.Title = "OrderConfirmation";
}

<h2>OrderConfirmation</h2>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">
        Order Number 
        @foreach (var orderNum in ViewBag.OrderIds)
        {
            <span>@orderNum </span>
        }
    </h1>    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">@ViewBag.Customer.FirstName, your order is being prepared and you will be notified as soon as they are shipped.</p>
    </div>
</div>